src/main/mule/s3-lookup-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="get-file-lookup-flow" doc:name="GET /process-s3">
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/process-s3">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        
        <set-variable variableName="requestedFileName" value="#[attributes.queryParams.zipName]" doc:name="Set requestedFileName"/>
        
        <logger level="INFO" doc:name="Log Start" message="[S3 Lookup API] Checking existence of file: #[vars.requestedFileName]"/>

        <try doc:name="Try S3 Get Object">
            <scripting:execute engine="nashorn" doc:name="Set AWS Token">
                <scripting:code>
                    java.lang.System.setProperty("aws.accessKeyId", "${aws.accessKey}");
                    java.lang.System.setProperty("aws.secretKey", "${aws.secretKey}");
                    java.lang.System.setProperty("aws.secretAccessKey", "${aws.secretKey}");
                    java.lang.System.setProperty("aws.sessionToken", "${aws.sessionToken}");
                </scripting:code>
            </scripting:execute>
            <s3:get-object bucketName="${aws.s3.bucketName}" key="#[vars.requestedFileName replace '.zip' with '']" config-ref="Amazon_S3_Configuration" doc:name="Get Object" />
            
            <logger level="INFO" doc:name="Log Download Success" message="[S3 API] File downloaded successfully. Sending to processing subflow: #[vars.requestedFileName]"/>

            <set-variable variableName="originalFileName" value="#[vars.requestedFileName]" doc:name="Set originalFileName"/>
            <set-variable variableName="correlationId" value="#[uuid()]" doc:name="Set correlationId"/>

            <set-variable variableName="soxEvent" value="File Intake Started" doc:name="Set soxEvent Intake API"/>
            <flow-ref doc:name="Call sox-audit-subflow" name="sox-audit-subflow"/>

            <flow-ref doc:name="Call process-zip-subflow" name="process-zip-subflow"/>

            <ee:transform doc:name="Set Success Response">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "success",
    message: "File " ++ (vars.requestedFileName default "") ++ " has been processed."
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>

            <error-handler>
                <on-error-continue type="S3:NO_SUCH_KEY" enableNotifications="true" logException="true" doc:name="On Error Continue (Not Found)">
                    <ee:transform doc:name="Map Not Found Response">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    code: "FILE_NOT_FOUND",
    message: "File not found in S3 bucket."
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
                <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
                    <ee:transform doc:name="Map Internal Error Response">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    code: "INTERNAL_ERROR",
    message: "Unexpected error while accessing AWS S3: " ++ (error.description default "Unknown Error")
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
        
        <logger level="INFO" doc:name="Log End" message="[S3 Lookup API] Finished processing for file: #[vars.requestedFileName]. Status: #[vars.httpStatus default 200]"/>
    </flow>
</mule>
